{% extends 'base.html' %}
{% block content %}
<h1></h1>
        <form  method="post" class="col s12" >{% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Write your anonymous text :</label>
                <textarea class="form-control" name='anonymous' id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type='submit' class="btn btn-secondary">Send</button>
        </form>
        
        {% endblock %}